*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.logo img {
  width: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

nav ul li {
  position: relative;
  padding: 8px;
}

ul li:hover {
  cursor: pointer;
  color: blueviolet;
  background-color: whitesmoke;
}

ul.drop-down-menu {
  padding: 12px;
  font-size: small;
  position: absolute;
  top: 110%;
  left: 0;
  display: non;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transform: scaleY(0);
  transform-origin: top center;
  transition: all 500ms ease-in-out;
}

ul.drop-down-menu li {
  position: relative;
}

ul.medecine {
  top: 0;
  left: -216%;
}

ul.pharmacy {
  top: 0;
  left: -220%;
}

ul.dental {
  top: 0;
  left: -233%;
}

ul.main-bar li:hover > ul.drop-down-menu {
  display: flex;
  transform: scaleY(1);
}
